body{
    background-image: url(../imagenes/fnd2.jpg);
    background-size: cover;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 43px;
    text-shadow: 0 3px 0 #000;
    color:#fff;
}
.cuadrito{
            width:80px;
            height:80px;
            border:solid 4px;
            float:left;
            font-size:25px;
            text-align:center;
            background: darkgray;
    cursor: pointer;
            
}
.cuadrito:hover{
    background: darkred;
}
		#div_contenedor{
            position: relative;
            width:270px;
            border:solid 0px;
            margin:100px auto;
            color: #fff;
            text-align: center;
            
}

button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
}

button:hover{
    background: #000;
    color:#fff;
}


