	body{
        position: absolute;
        top:18%;
        left: 10.7%;
        background-image:url(../imagenes/fnd.jpg);
        background-size:cover;
        
    
	}
h1{
    position: relative;
    font-family: sans-serif;
    font-size: 47px;
    text-shadow: 0 7px 0 #000;
    text-align: center;
    bottom: 120px;
    right:50px;
    color:#fff;
}
div a{
    text-decoration: none;
}
		.btn  {
            position: relative;
            margin: 17px;
            padding: 17px;
            float: left;
			width: 450px; height:30px;
			background: #000;
			border-radius: .5em;
			cursor: pointer;
			transition: background-color 1s;
            

		}
		.btn:hover{
			background: #D2D2D2;
		}
		.btn p:hover{
			color: #000;
		}
		.btn p{
			text-align: center;
            margin: -3.3% auto;
			font-size: 2em; font-weight: bold; 
            font-family: sans-serif;
            text-shadow: 0px 3px 0px darkred;
			color: #fff;
			line-height: 1.9em; 
		}
