body{
    background-image: url(../imagenes/fnd6.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 43px;
    text-shadow: 0 3px 0 #fff;
}
		#contenedor {
            margin: 100px auto;
			position: relative;
			width: 600px;
			height: 300px;
		}
		#modal {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 101%;
			height: 101%;
			background-color: rgba(0,0,0,0.7);
		}
		#boton {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		canvas {
			border: 3px solid;
			position: relative;
			top: 0px;
			left: 0px;
		}
