       h1 {
           text-align: center;
           font-size: 43px;
           text-shadow: 0 3px 0 #fff;
       }
       body{
           perspective: 400px;
           background-image: url(../imagenes/fnd7.jpg);
           background-size: cover;
           margin: 0;
           padding: 0;
           font-family: sans-serif;
       }
       #areaJ {
           width: 400px;
           height: 400px;
           border: 2px solid;
           margin: auto;
           position: relative;
           transform: rotateX(45deg);
           transform-style: preserve-3d;
       }
       .snake{
           background-color: #000;
           width: 40px;
           height: 40px;
           position: absolute;
           opacity: .7;
           border: 1px solid;
       }
       .tapa {
           transform: translateZ(40px);
       }
       .atras {
           transform: rotateX(90deg) translateZ(20px) translateY(20px);
       }
       .alante {
           transform: rotateX(90deg) translateZ(-20px) translateY(20px);
       }
       .comida {
           background-color: #fff;
       }