body{
    background-image: url(../imagenes/fnd8.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    font-size: 43px;
    text-shadow: 0 3px 0 #fff;
}
canvas {
			border: 1px solid;
		}
		#contenedor {
			position: relative;
            margin: 100px auto;
			width: 600px;
			height: 300px;
		}
		#modal {
			position: absolute;
			width: 100.4%;
			height: 100.4%;
			top: 0px;
			left: 0px;
			background-color: rgba(0,0,0,0.7);
		}
		#boton {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}